{% extends "layout.njk" %} {% block content %}
<!-- <div class="card" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<h2>List Of Platforms</h2>
{% for platform in platforms %}
<div class="row row-cols-2 row-cols-md-2 g-4">
  <div class="col">
    <div class="card text-white bg-primary mb-3" style="width: 18rem">
      <img src="{{ platform.cover }}" class="img-thumbnail" class="card-img-top" alt="" />
      <div class="card-body">
        <li>
          <a href="platforms/{{ platform.slug }}" class="btn btn-danger btn-sm">{{ platform.name }}</a>
        </li>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
