{% extends "layout.njk" %} {% block content %}

<h1>Summary of the game</h1>
<div class="container">
  <div class="card mb-3" style="max-width: 700px;" id="game-summary">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ game.cover_url }}" alt="" />
      </div>
       <div class="col-md-8">
        <div class="card-body">
          <h3>{{ game.name }}</h3>
            <p>
              <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="More-infos">
                More infos Summary !
              </button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
               <p>{{ game.summary }}</p>
              </div>
            </div>
        </div>
     </div>
   </div>
</div>

  
{% endblock %}}


<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>

