<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png" /> -->
  </head>
  <body>
    <p>
      <a href="/">Home</a>
    </p>
    <p>
      <a href="/games">All Games</a>
    </p>
    <p>
      <a href="/platforms">All Platforms</a>
    </p>
    {% block content %}{% endblock %}
  </body>
</html>
